# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual environments
venv/
.venv/

# Django runtime
staticfiles/
media/

# Secrets
.env
.env.*
!.env.example
